<mat-toolbar>
  <span>My Contacts App</span>
</mat-toolbar>
<div class="contact-list-body">
  <div class="contact-list-container">
    <h2>My Contacts</h2>
    <mat-selection-list [(ngModel)]="selectedOptions" >
      <mat-list-option class="contact-item" *ngFor="let contact of contactStore.contacts" [value]="contact">
        {{contact.name}}
      </mat-list-option>

    </mat-selection-list>
  </div>
  <div class="example-container">
    <h2>Contact Form</h2>
    <mat-form-field>
      <input matInput #nameInput placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput #emailInput placeholder="Enter your email" [type]="email" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput #phoneInput placeholder="Phone Number" [type]="tel">
    </mat-form-field>
    <div class="container-buttons">

      <button mat-raised-button color="primary" class="contact-button"
        (click)="onAddContact(nameInput.value, emailInput.value, phoneInput.value)"
        *ngIf="!selectedOptions || selectedOptions=='' ">Create Contact</button>

      <button mat-raised-button class="contact-button"
        (click)="onEditContact(selectedOptions[0].id, nameInput.value, emailInput.value, phoneInput.value)"
        *ngIf="selectedOptions && selectedOptions!='' ">Save Contact</button>

      <button mat-raised-button color="warn" class="contact-button"
        (click)="onDeleteContact(selectedOptions[0].id)"
        *ngIf="selectedOptions && selectedOptions!='' ">Delete Contact</button>
    </div>

  </div>

</div>
